body {
  padding: 0;
  text-align: center;
  background-color: #c48bff;
  /*background-image: url("https://dumielauxepices.net/sites/default/files/drawn-wallpaper-candy-585470-9537427.jpg");*/
}

.game-intro {
  float: left;
  width: 20%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 250px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  text-align: center;
  float: left;
  width: 60%;
  height: 500px;
}

#game {
  border: 2px solid purple;
  background-image: url("images/CV_BG_01.png");
  background-size: 800px 650px;
}

.game-score {
  float: left;
  width: 20%;
}
